
* {
  box-sizing: border-box
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
  display: flex;
  flex-flow: column nowrap;
}
.flex-rw ul {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1.5%;
}

.flex-rw li {
  display: grid;
  position: inherit;
  list-style: inherit;
  opacity: inherit;
  transition: none;
}

footer {
  background: #3282b8;
  margin-top: auto;
  width: 100%;
}
.footer-column {
  width: 33.333%;
  padding-left: 0px;
}
.footer-column-title {
  padding-top: 4.5%;
  margin-bottom: 2%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
}
.footer-column-title:hover {
  color: #f57b51;
}

@media only screen and (max-width: 768px) {
  .footer-column-title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 568px) {
  .footer-column-title {
    font-size: 25px;
  }
}

.umlogo {
  width: 30%;
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
}

img.umlogo {
  width: 30%;
  height: auto;
  float: none;
}

.footer-li {
  text-align: center;
  color: white;
}
