@media screen and (max-width: 600px) {
  .main-title {
    font-size: 30px;
  }

  .sub-title {
    font-size: 15px;
  }

  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .background-white {
    background-color: white;
    width: 100%;
    margin: 4% auto;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .main-title {
    font-size: 40px;
  }

  .sub-title {
    font-size: 20px;
  }

  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  .main-title {
    font-size: 50px;
  }

  .sub-title {
    font-size: 25px;
  }

  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
