/* font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
'Dosis'*/

/* coral: rgba(245,123,81, .5)  #f57b51 */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  /* background-color: #f1935c; */
  margin-bottom: 0.5%;
  font-family: 'Montserrat';
  font-weight: 100;
  padding-top: 1.5%;
  margin-left: 6%;
  margin-right: 7%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  width: 25%;
  text-align: center;
}

.dropbtn-active {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: #3282b8;
  font-family: inherit;
  /* margin: 0; */
  display: inline-block;
  padding: 0.6em 0.9em;
  position: relative;
  transition:color 0.25s ease;
  border:2px solid #f57b51;
  box-shadow: inset 0 0 0 0 #f57b51;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
  /* transition-duration: 0.4s; */
  margin-top: 3%;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #3282b8;
  background-color: inherit;
  font-family: inherit;
  /* margin: 0; */
  display: inline-block;
  padding: 0.6em 0.9em;
  position: relative;
  transition:color 0.25s ease;
  border:2px solid rgba(245,123,81, .5);
  box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
  /* transition-duration: 0.4s; */
  margin-top: 3%;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  box-shadow: inset 400px 0 0 0 #3282b8;
    color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  margin-left: 6%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #3282b8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-subcontent {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#background {
  height: auto;
	width:  100%;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/01.png");
  background-repeat: no-repeat;
  /* background-size: auto; */
}

.title {
  text-align: center;
  padding-top: 4.5%;
  padding-bottom: 1.5%;
  font-family: 'Dosis';
  border-bottom: 3px solid rgba(245,123,81, .5);

  background-color: #3282b8;
  min-height: 5vh;
  margin: -.1em 0 0 0;
  padding: 1em;
}

a:link {
  text-decoration: none;
}

.main-title {
  font-size: 60px;
  color: white;
  padding-bottom: 0.5%;
  font-weight: lighter;
}

.sub-title {
  font-size: 30px;
  color: white;
  padding-bottom: 1%;
  font-family: 'Montserrat', sans-serif;
}

.video-intro {
  margin-top: 4%;
}

#intro-video {
  width: 80%;
  height: auto;
  /* max-width: 1200px; */
  border-radius: 25px;
  background: url(../images/001.gif);
  padding: 20px;
  margin: 0 auto;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

#test-video {
  margin-top: 12%;
  margin-bottom: 38%;
  margin-right: 15%;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #3282b8;
}

/* team img */
.two-column-wrapper {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr 0.9fr 1.1fr;
}

.profile-image-wrapper img {
  width: 250px;
  float:right;
  margin: 30px auto;
  position: relative;
}

.profile-content-wrapper {
  padding: 30px;
  margin-top: 5%;
}
.profile-content-wrapper h1 {
  color: #3282b8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.center-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: rgba(245,123,81, .8);
  margin-top: 2.5%;
  padding-top: 2.5%;
}

.background-white {
  background-color: white;
  width: 80%;
  margin: 4% auto;
  padding-bottom: 10%;
}

/* coral reef page */
.one-column-wrapper {
  grid-template-columns: 1fr;
  margin-left: 10%;
  margin-right: 10%;
}

.one-column-wrapper IMG {
  width: 60%;
  display: block;
  margin: 5% auto;
}
/* Wave */
::selection{background-color: salmon; color: white;}
.parallax > use{
  animation:move-forever 12s linear infinite;
  &:nth-child(1){animation-delay:-2s;}
  &:nth-child(2){animation-delay:-2s; animation-duration:5s}
  &:nth-child(3){animation-delay:-4s; animation-duration:3s}
}

@keyframes move-forever{
  0%{transform: translate(-90px , 0%)}
  100%{transform: translate(85px , 0%)}
}

.editorial {
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
}

.wave {
  padding: 9em 0 0 0;
}

/* bubble */
.bubbles {
  position: absolute;
  bottom: 0;
  top: 500px;
  z-index: 5;
  margin-right: 50px;
  background-color: white;
  border-radius: 50%;
  opacity: .50;
  width: 40px;
  height: 40px;
  animation: up 4s infinite;
}

.bubble-2 {
  left: 350px;
  animation: up 2s infinite;
}

.bubble-3 {
  left: 750px;
  opacity: .30;
  animation: up 5s infinite;
}

.bubble-4 {
  left: 1150px;
  animation: up 6s infinite;
}

.bubble-5 {
  left: 50px;
  animation: up 5s infinite;
}

.bubble-6 {
  left: 300px;
  opacity: .30;
  animation: up 3s infinite;
}

.bubble-7 {
  left: 670px;
  animation: up 4s infinite;
}

.bubble-8 {
  left: 1050px;
  opacity: .30;
  animation: up 3s infinite;
}
@keyframes up {
  100% {
    transform: translateY(-800px);
  }
}

/* main text */
.main-text {
  margin-left: 20%;
  margin-right: 20%;
}

.main-text h1 {
  text-align: center;
  color: steelblue;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5%;
}

.main-text IMG {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
